.layer-86YKbF {
    .info-1sUqUG::after {
        content: "Syrup made with by Delta";
        background: url(https://discord.com/assets/0483f2b648dcc986d01385062052ae1c.svg) 13em center no-repeat;
        color: var(--text-muted);
        font-size: 12px;
        line-height: 16px;
    }
    
    .contentRegion-3HkfJJ {
        background-color: 0;

        .contentColumn-1C7as6 {
            max-width: unset;
        }
    }
    
    .sidebarRegion-1VBisG {
        max-width: 218px;
    }
}